{
    "parserOptions" : {
        "ecmaVersion" : 2017,
        "sourceType"  : "module",
        "ecmaFeatures": { 
            "experimentalObjectRestSpread": true 
        }
    },
    "rules"         : {
        "no-console"               : 1,
        "no-constant-condition"    : 1,
        "no-dupe-args"             : 2,
        "no-dupe-keys"             : 2,
        "no-duplicate-case"        : 2,
        "no-ex-assign"             : 1,
        "no-extra-boolean-cast"    : 1,
        "no-extra-semi"            : 2,
        "no-func-assign"           : 1,
        "no-unreachable"           : 2,
        "valid-typeof"             : 2,
        "no-unexpected-multiline"  : 1,
        "block-scoped-var"         : 2,
        "default-case"             : 1,
        "guard-for-in"             : 1,
        "no-delete-var"            : 2,
        "constructor-super"        : 1,
        "no-const-assign"          : 2,
        "no-var"                   : 2,
        "prefer-const"             : 2,
        "indent"                   : [2, 4],
        "curly"                    : [2, "all"],
        "no-extra-parens"          : [2, "all"],
        "comma-dangle"             : [1, "never"],
        "no-cond-assign"           : [1, "always"],
        "eqeqeq"                   : [1, "smart"],
        "semi"                     : [2, "always"],
        "arrow-parens"             : [2, "always"],
        "no-inner-declarations"    : [1, "functions"],
        "no-mixed-spaces-and-tabs" : [2, "smart-tabs"],
        "comma-spacing"            : [2, { "after" : true }],
        "no-redeclare"             : [2, { "builtinGlobals" : true }],
        "camelcase"                : [2, { "properties" : "always" }],
        "brace-style"              : [2, "1tbs", { "allowSingleLine" : true }],
        "arrow-spacing"            : [2, { "before" : true, "after"  : true }],
        "key-spacing"              : [2, { "afterColon" : true, "align" : "colon", "beforeColon" : true }]
    }
}
